.uicore-header-wrapper {
  background: white !important;
}
h5.elementor-heading-title.elementor-size-default {
  background-image: linear-gradient(to right, purple 0%, orange 40%, purple 60%) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
}
h1.elementor-heading-title.elementor-size-default {
  padding: 0 .5rem !important;
}
h3.elementor-heading-title.elementor-size-default {
  background-image: linear-gradient(to right, purple 0%, orange 40%, purple 60%) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
}
.elementor-element.elementor-element-5ccc65c.elementor-widget__width-initial.elementor-widget-mobile__width-inherit.elementor-widget.elementor-widget-text-editor p {
  padding: 0 .5rem !important;
}
nav span.elementor-button-text {
  padding: .5rem .75rem !important;
  border-radius: 3px !important;
}
a.elementor-button-link.mod {
  background-image: linear-gradient(to right, rgba(89, 12, 102, 0.75), rgba(89, 12, 102, 0.5)) !important;
}
a.elementor-button-link.mod span {
  color: orange !important;
}
.elementor-icon.mod {
  background: purple !important;
  background-repeat: no-repeat !important;
  background-size: 75% !important;
  background-position: center !important;
}
.elementor-icon.mod.mod-01 {
    background-image: url('./images/icon_01.png') !important;
}
.elementor-icon.mod.mod-02 {
    background-image: url('./images/icon_02.png') !important;
}
.elementor-icon.mod.mod-03 {
    background-image: url('./images/icon_03.png') !important;
}
.elementor-icon.mod path {
  display: none !important;
}
