.uicore-header-wrapper {
  background: white !important;
}
h5.elementor-heading-title.elementor-size-default {
  background-image: linear-gradient(to right, purple 33%, black 66%, purple 100%) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
}
h1.elementor-heading-title.elementor-size-default {
  padding: 0 .5rem !important;
}
h3.elementor-heading-title.elementor-size-default {
  background-image: linear-gradient(to right, purple 33%, black 66%, purple 100%) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
}
.elementor-element.elementor-element-5ccc65c.elementor-widget__width-initial.elementor-widget-mobile__width-inherit.elementor-widget.elementor-widget-text-editor p {
  padding: 0 .5rem !important;
}
nav span.elementor-button-text {
  padding: .5rem .75rem !important;
  border-radius: 3px !important;
}
span.elementor-button-text.mod {
  background: unset !important;
  background-color: unset !important;
  background-image: unset !important;
  /*
  background-image: linear-gradient(left to right, rgba(89, 12, 102, 1), rgba(89, 12, 102, 0.5)) !important;
  */
}
.elementor-icon.mod {
  background: purple !important;
}
.elementor-icon.mod path {
  display: none !important;
}
