h5.elementor-heading-title.elementor-size-default {
  color: purple !important;
}
h1.elementor-heading-title.elementor-size-default {
  padding: 0 .5rem;
}
h3.elementor-heading-title.elementor-size-default {
  color: purple !important;
}
